.header {
  position: relative;
  width: 100%;
  .margin {
    height: 10lvh;
    transition: height 0.25s ease;
  }
  .content {
    height: 10lvh;
    position: fixed;
    z-index: 10;
    backdrop-filter: blur(4px);
    /* Réduit l'opacité à 50% en mélangeant avec du transparent */
    background-color: color-mix(in srgb, var(--bg-color) 70%, transparent);
    //backdrop-filter: opacity(0.6);
    top: 0;
    width: 100%;
    max-width: 260lvh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    transition: height 0.25s ease;
    .menu {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      .header-logo {
        img {
          display: block;
          height: 100%;
          width: auto;
          object-fit: contain;
        }
      }
      .header-actions {
        justify-content: flex-end;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        * {
          margin: 0 1%;
        }
        .header-icon {
          font-size: 6lvh;
          min-width: 6%;
          .header-icon-img {
            display: block;
            width: 1em;
            height: 1em;
          }
        }
        .header-wishlist-link,
        .header-cart-link {
          position: relative;
          span {
            position: absolute;
            top: 0;
            left: 50%;
            font-size: 30px;
            font-weight: 700;
            line-height: 1;
            color: #000;
          }
        }
        .autocomplete {
          input {
            height: 100%;
          }
        }
        button {
          height: 8lvh;
          margin-left: 1lvh;
          margin-right: 1lvh;
        }
      }
      .header-close {
        display: none;
      }
      .header-burger {
        display: none;
      }
      nav {
        //width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        align-items: center;
        a {
          margin: 0 3lvh;
        }
      }
    }
  }
  &.header-hidden {
    .margin {
      height: 0;
    }
    .content {
      height: 0;
      overflow: hidden;
    }
  }
}
